/*****/ 
/*	CSS StyleSheet 
/*	Written by Jack Chedotal
/*
/*	Contents
/*	---------------
/*	Reset Rules + General Styling
/*	Header
/*	Nav
/*	Main Content
/*	Footer
/* 	Other Styling
/*	Media Query - 768+1024
/*	Media Query - 481px+767px
/*	Media Query - 320px+480px
/*
/*
/*	Colour Style
/*	---------------
/*	fff		- White
/*	ccc 	- Light Grey
/*	eee		- Lightest Grey 
/*	222		- Dark grey
/*	939798 	- Grey
/*	408AD2 	- Blue (background) 
/*	71A6D2	- Light Blue
/*	2468FF	- Dark Blue
/*
/*
/*****/


/*****/
/*  ~Reset Rules + General Styling
/*****/

body {
	background:#408AD2;
	font-size: 1em;
	font-family: arial, sans-serif;
	color:black;
	text-align: left;
}
* {
	padding: 0;
	margin: 0;
}
.clear{ clear:both; }
p { padding: 5px; }
a, a:visited {
	color: black;
	text-decoration: none;
}
a:hover{ text-decoration: underline; }
hr {
	height: 3px;
	border: 0;
	width: 92%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #ccc;
}
.leftAlign{	
	float: left;
	margin: 0 5px 0 0;
}
.rightAlign{ 
	float: right;
	margin: 0 0 0 5px;
}
.centreAlign{
	text-align: center;
	display: block;
	padding-top: 5px;
	margin: 0 auto;
}		
/*Taken from http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php - 07/09/2014*/
.vidWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	margin: 0 auto;
}
.vidWrapper iframe {
	position: absolute;
	width: 85%;
	height: 85%;
	margin-left: 6.5%;
}
#slider { 
	overflow: hidden; 
	max-width: 840px; 
	height: auto; 
	margin: 5px 0 0 0;
}
#slider img { 
	width: 100%; 
	height: auto;
}
	#slider .slides {
		display: block;
		width: 6000px;
		margin: 0;
		padding: 0;
	}
		#slider .slide {
			float: left;
			list-style-type: none;
			max-width: 840px;
			height: auto;
		}
#wrapper {
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;
	background: #eee;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 1%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*****/
/*  ~Header
/*****/		
		
header#header {
	background: #fff;
}		
	header#header h1 {
	margin: 0; 
	padding: 0;
}

/*****/
/*  ~Nav
/*****/			

nav{
	background: #71A6D2;
	font-size: 18px;
	padding: 10px 0;
}

nav li{
	display:inline-block;
	list-style-type:none;
}
	
	nav a,nav a:visited{
		border-radius: 5px;
		padding: 10px 20px 10px 20px;
	}
		
	nav a:hover{
		background: #2468FF;
		text-decoration: none;
		border-bottom: 3px solid #222;
		color: #fff;
		padding: 10px 20px 8px 20px;
	}

aside#rightNav {
	float: left;
	width: 30%;
}
aside#rightNav h4{
	margin: 5px 10px;
	padding: 5px;
	background: #408AD2;
	text-align: center;
	border-radius: 5px;
}
	aside#rightNav ul{ list-style-type: none;}
		aside#rightNav li { padding: 3px 10px;}
		aside#rightNav li:hover{ background: #939798;}	
		
.rightNavRespImg {
	width: 95%;
	height: auto;
	margin: 0 2.5%;
}		


/*****/
/*  ~Main Content
/*****/			

section#mainContent {
	background: #fff;
	width: 70%;
	max-width: 840px;
	float: left;
}
section#mainContent header {
	padding: 5px;
}


/*****/
/*  ~Main Content
/*****/

#footerWrap {
	width: 100%;
	background: #222;
	border-top: 20px solid #333;
	margin: 5px 0 0 0;
}
footer#footer {
	color: #fff;
	font-size: 0.9em;
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;
}
footer a , footer a:visited { 
	color: #fff; 
	text-align: center; 
}
	footer a:hover { 
		color: #2468FF; 
		text-decoration:none;
	}
footer .footerColumn {
	width: 30%;
	margin: 0 3.3% 0 0;
	float: left;
	list-style-type: none;
}
footer #footer h2 {
	border-bottom: 2px solid white;
	font-weight: bold;
	text-transform: uppercase;
}
	footer .footerColumn li {
		padding: 5px 0;
		margin-left: 10px;
	}
	footer .footerColumn li:first-child {margin-left: 0;} /* used so that the heading on each list does not get indented*/

	
/*****/
/*  ~Other Styling
/*****/	
		
section h1 {
	border-bottom: 2px dotted black;
	width: 96%;
	margin: 0 auto;
	color: #333;
}
article.news { 
	margin: 0 auto;
	width: 96%;
	border-bottom: 1px dotted black;
}
article.news:last-child {border-bottom: 0;}
article.news figure { 
	float: left;
	width: 25%;
	max-width: 200px;
	padding: 0;
	margin: 0;
}
	article.news img {
		margin: 5px 0;
		padding: 0;
		height:auto;
		width:100%;
	}
article.news header { float: left;}
	article.news header p { font-size: 0.9em;}
article.news content {
	width: 75%;
	float: left;
}
article.news footer {
	text-align: right;
	margin: 0 0 10px 0;
}
	article.news footer a, article.news footer a:visited {
		background: #222;
		border-radius: 5px;
		padding: 5px;
		text-align: center;
		color: white;
		text-decoration: none;
	}
	article.news footer a:hover { background: #2468FF;}
.spoilAlert{
	background: #FF7373;
	border-radius: 5px;
	padding: 5px;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 5px;
	cursor: pointer;
}
.spoilAlert h3 { text-align: center;}


/*****/
/*  ~Media Query - 768+1024
/*****/	

@media (min-width: 768px) and (max-width: 1024px) {
	
	#wrapper { width: 90%;}
	footer#footer { width: 90%;}
	#slider { max-width: 840px;}
		#slider .slide { max-width: 840px;}
}


/*****/
/*  ~Media Query - 481px+767px
/*****/	

@media (min-width: 481px) and (max-width: 767px) {

	#wrapper { width: 90%;}
	
	#navMenu { display: none;}
		#navBtn {
			display: block;
			text-align: center;
			cursor: pointer;
		}	
		#navBtn:before { content: "Menu";}
		nav li{ display:block;}
		nav a,nav a:visited{
			border-radius: 0;
			display: block;
			width: 100%;
			height: auto;
		}	
	section#mainContent {
		width: 100%; 
		float: none; 
		padding-bottom: 5px;
	}
	aside#rightNav {width: 100%;} 
	.rightBar { 
		width: 50%; 
		float: left;
	}
	footer .footerColumn {
		width: 100%;
		float: none;
	}
	#returnTop {float: none;}
}


/*****/
/*  ~Media Query - 320px+480px
/*****/	

@media (min-width: 0px) and (max-width: 480px) {
	
	#wrapper { width: 90%;}
	
	#navMenu { display: none;}
	#navBtn {
		display: block;
		text-align: center;
		cursor: pointer;
	}	
		#navBtn:before { content: "Menu";}
		nav li{ display:block;}
		nav a,nav a:visited{
			border-radius: 0;
			display: block;
			width: 100%;
			height: auto;
		}	
		
	section#mainContent {
		width: 100%; 
		float: none;
		padding-bottom: 5px;
	}
	aside#rightNav {
		float:none; 
		width: 100%;
	}
	article.news figure { 
	float: left;
	width: 80%;
	height: auto;
	margin-left: 10%;
	max-width: none;
	}
	article.news content { width: 100%}
	.spoilAlert{ width: 95%;}
	footer .footerColumn {
		width: 100%;
		float: none;
	}
	#returnTop {float: none;}
}

